    {% extends 'main.html' %}
    {% block content %}
<body>

    <div class="col-8' m-auto pt-2 pb-2 text-center">
        <div id="result"></div>
        <form name="form" id="form" action="{% if db %}/update/{{db.idkey}}/{%else%}/create/{% endif %}" method="post">
            {% csrf_token %}
            <div style="color: white;" class="form-group mt-4">Pv: {{form.pv}}</div>
            <div style="color: white;" class="form-group mt-4">Serial: {{form.serialcontent}}</div>
            <div style="color: white;" class="form-group mt-4">Status: {{form.keystate}}</div>
            <input type="submit" class="btn btn-success" value="Salvar">
        </form>
    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>
                {% endblock %}